@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0px;
  padding: 0x;
  font-family: "Roboto",sans-serif;
  color: white;
 // border: 1px solid white;
}
.header{
position: sticky; 
top: 0px; 
background-color: rgb(29, 29, 29);
height: 100px;
display: flex;
align-items: center;
padding: 2rem;
 box-sizing: border-box;
justify-content: space-between;

>img{
  height: 100%;

}
>div{
width: 100%;
margin-left: 2vmax;
>a{
margin: 1vmax;
font-size: 1.5rem;
font-weight: 300;
}
}
>svg{
  font-size: 2rem;
  cursor: pointer;
}

}

a{
  color: white;
  text-decoration: none;
}
.banner{
  height: 400px;
  background-color: rgb(29, 29, 29);
}